@import url('https://fonts.googleapis.com/css?family=Crete+Round');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  background-color: #CDE5FF;
  background-image: url(./img/bg.jpg);
  background-position: right;
  background-size: cover;
}

.main-content{
  width: 1200px;
  display: flex;
  margin: 20px auto;
  height: calc(100vh - 40px);
  justify-content: space-between;
  font-family: 'Crete Round', serif;
}

/* Start styling aside - sidebar */

aside.sidebar{
  color: white;
  flex: 0 0 400px;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  text-transform: uppercase;
}

.sidebar button{
  cursor: pointer;
  background-color: #FCD200;
  border: 2px solid #D1B07B;
  font-weight: bold;
  margin: 5px 0;
  padding: 20px 40px;
  outline: 0;
}

.sidebar button:hover{
  background-color: #4E90CC;
}

div.scoreboard{
  height: 460px;
  width: 360px;
  padding: 0 5px;
  background-color: white;
  overflow: scroll;
  color: black;
  margin: 30px auto 0 auto;
}

.scoretable{
  border: none;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

.scoretable th, .scoretable td {
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #ddd;
  vertical-align: bottom;
  height: 30px;
}

/* End styling aside - sidebar */

/* Start styling section - play-area and cards */

section.play-area{
  flex: 0 0 555px;
  margin: 0 12.5px;
  /* background-color: darkseagreen; */
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,165px);
  align-content: center;
}

.play-area .card{
  border: 1px solid black;
  background-color: #FFF;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.play-area .card.paused{
  cursor: not-allowed;
}

.card, .card__front{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__front{
  width: 100%;
  z-index: 10;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background-color: #FED41E;
}

.card.flipped {
  cursor: auto;
  transform: rotateY(180deg);
}

/* End styling section - play-area and cards */

div.current-data{
  background-color: rgba(255,255,255,0.4);
  flex: 1;
}
