body{
  background-image: url(bg2.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

main.content{
  display: flex;
  position: relative;
  justify-content: center;
}

aside.sidebar{
  left: 0;
  width: 400px;
  height: 100vh;
  text-align: center;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  text-transform: uppercase;
}

.sidebar button{
  background-color: #FCD200;
  border: 2px solid #D1B07B;
  font-weight: bold;
  padding: 20px 40px;
  outline: 0;
}

div.scoreboard{
  height: 500px;
  width: 360px;
  padding: 0 5px;
  background-color: white;
  overflow: scroll;
  color: black;
  margin: 30px auto 0 auto;
}

.scoretable{
  border: none;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

.scoretable th, .scoretable td {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
    height: 30px;
}

div.card-wrapper{
  margin-top: 15px;
  width: 555px;
}

.card-grid{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,165px);
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  border: 1px solid black;
}
